@if (Session["objUser"] == null)
    {
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Register", "Register", "Account", null, null)
            </li>
            <li>
                @Html.ActionLink("Login", "Login", "Account", null, null)
            </li>
        </ul> 
    }
    else
    {
    
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hi! "+Session["UserName"], "Home", "Home", null, null)
            </li>
            <li>
                @Html.ActionLink("Logout", "Logout", "Account", null, null)
            </li>
        </ul>
    }