
@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="row">
        <div class="card my-4">
            <div class="card-body">
                <form id="EducationInfoForm" enctype="multipart/form-data">
                    <div class="row">
                        <input type="hidden" id="txtApplicantId" name="txtApplicantId" value="0" />
                        <div class="card-header my-2">
                            <h5><strong>Home</strong></h5>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
